* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    transition-duration: 0.1s;
}

html, body {
  height: 100%;
  background-color: #fff;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    font-weight: 400;-moz-user-select: -moz-none;
    
}

.navbar > li {
    float: left;
}
.navbar > .right {
    float: right;
}

.navbar > li a {
    font-size: 2vh;
    display: block;
    color: white;
    text-align: center;
    padding: 1vh 1vw;
    height: 3vh;
    text-decoration: none;
}

.navbar > li a:hover {
    background-color: #42b5bd;
}
.navbar > li:first-child{
    background-color: #42b5bd;
}

.hcontainer {
    display: flex;
    flex-flow: row;
    flex: 1;
     
}

.vcontainer {
    display: flex;
    flex-flow: column;
    height: 95vh;
    
}

.hcontainer > * {
    font-size: 3vh;
    flex-flow:row;
    overflow: scroll;
}

.agenda{
    display: flex;
    flex-flow: column;
    background-color: rgb(240, 240, 240);
    height: 95vh;
    width: 85vw;

}
.options{
    background-color: rgb(210, 210, 210);
    max-height:95vh;
    width: 15vw;
}

.optionItem {
    text-align: left;
    padding:7.5px;
    list-style-type: none;
    max-width: 14vw;
}

.optionItem:hover:not(.selected) {
    background-color: #aaaaaa;
    color: #eeeeee;
}
.agendaItem{
    display: flex;
    flex-flow:row;
    align-items: stretch;
    transition-duration: 0.2s;
}

.agendaItem > span{
    padding: 5px;
    margin-right:0.1vw;
    min-width: 5vw;
    border-right: 2px solid rgb(160, 160, 160);
    margin-left:0.5vw;
    
    
}

.agendaItem > span:last-child{
    border-right: 0;
    margin-left: 0;
    text-align: center;
    min-width: 1.5vw;
}

.agendaItem:nth-child(even):not(.selected) {
    background-color: rgb(220, 220, 220);
}

.agendaItem:hover:not(.selected){
    background-color: #aaaaaa;
    color: #eeeeee;
}
.agendaItemBig{
    flex-grow:10;
    width:20vw;
}

.infopopupv {
    padding:10px;
    display: none;
    flex-flow: column;
    position: absolute;
    background-color: #f1f1f1;
    left:15vw;
    width: 15vw;
    font-size: 1.9vmin;
    box-shadow: 5px 5px 2px 2px rgba(0,0,0,0.5);
    z-index: 1;
}
.infopopuph {
    display: flex;
    flex-flow: row;
    padding:3px;
}
.popupdesc {    
    color: #010101;
    flex: 3;
}
.popupdata {
    color:#3b3b3b;
    flex:4;
}
#phone:not(:hover){
    background-color:#3b3b3b;
}


select,input,button {
    background: #e1e1e1;
    border: none;
    height: 2.1vh;
    width: 10vw;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
 }

button {
    color: white;
    height: 3.1vh;
    transition-duration: 0.4s;
}
.add {
    flex:9;
    background: #42b5bd;
}
.add:hover{
    background-color: #70e7f0; 
}

.close {
    margin-left: 0.1vw;
    background: #bd4242;
    flex:1;
}
.close:hover{
    background-color: #f07070; 
}

.selected {
    background-color: #42b5bd;
    color: #eeeeee;
}
.selected:hover{
    background-color: #70e7f0;
}
